@keyframes rotateSpinner {
    to {
        transform: rotate(360deg);
    }
}

.gpt-message-toolbar {
    display: flex; 
    height: 30px; 
    width: 100%; 
    align-items: center;
    padding: 15px;
    background-color: #fff1cf;
    color: #b37100;
    border: 1px solid #ffe19d;
}

.gpt-message-toolbar-item {
    float: left; 
    margin-right: 10px;
}

.gpt-message-copy {
    background: none; 
    border: none;
    padding: 0;
    line-height: normal;
    fill: #b37100;
}

.gpt-message-text {
    padding: 15px;
    background-color: #fff1cf;
    color: #b37100;
    border: 1px solid #ffe19d;
}

.gpt-loader {
    width: 18px;
    height: 18px;
    margin-right: 4px;
}