@keyframes rotateSpinner {
    to {
        transform: rotate(360deg);
    }
}

.gpt-message-toolbar {
    display: flex; 
    height: 30px; 
    width: 100%; 
    align-items: center;
}

.gpt-message-toolbar-item {
    float: left; 
    margin-left: 5px; 
    margin-right: 5px;
}

.gpt-message-copy {
    background: none; 
    border: none;
}

.gpt-loader {
    width: 18px;
    height: 18px;
    margin-right: 4px;
}